@*@{
    ViewBag.Title = "Contact";
}*@
<h2>@ViewBag.Title</h2>



<h2><strong>Contact: </strong></h2>
<p>
    <strong>
        Team Name: Team Elrond
    </strong>
</p>

<p>
    <strong>
        Address: 21 Kensington Avenue, Petone, Lower Hutt 5012
    </strong>
</p>

<p>
    <strong>
        Email: eipm@outlook.com
    </strong>
</p>