
@{
    ViewBag.Title = "Failed";
}

<div style="text-align:center">
    <h2><strong>Acknowledgement</strong></h2>
    <br />
    <h4><strong>Transaction is Failed</strong></h4>
    <h4><strong>Please go to Checkout Page</strong></h4>
    <a class="btn btn-primary" href="~/Checkout/Index" role="button">Checkout</a>
</div>

