
@{
    ViewBag.Title = "Success";
}

<div style="text-align:center">
    <h2><strong>Acknowledgement</strong></h2>
    <br />
    <h4><strong><b>Amount:</b> $@ViewData["PaidAmount"]</strong></h4>
    <h4><strong>Transaction is Successful</strong></h4>
    <h4><strong>Thank you for your shooping</strong></h4>
</div>


